<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
 
<suite name="TestSuite">
    <parameter name="UserName" value="admin"/>
    <parameter name="Password" value="password"/>
    <test name="SmokeTest" parallel="classes">

        <classes>
            <class name="Selenium.TestNGTest">
                <methods>
<!--                    <include name="testCreateUser"/>-->
<!--                    <include name="testDataProviderCreateUser"/>-->
                    <include name="testCreateEmployeeCustomType"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>